body {
  margin: 0;
}
.top {
  background-color: #2bd8ad;
  height: 40px;
  color: #fff;
  text-align: center;
}
.middle {
  margin-top: 50px;
}

.bottom {
  background-color: #2bd8ad;
  text-align: center;
  color: #fff;
  height: 20px;
  width: 100%;
  position: fixed;
  bottom: 0;
}
.myDivider {
  border-right: 3px solid #2bd8ad;
}
.table{
    margin: 25px;
    border-color: #42920c;
    font-size: 10px;
    line-height: 5px;
}
h3{
    text-align: center;
}